<h2>User info</h2>
<%= image_tag @user.get_profile_image(100,100) %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><td><%= @user.introduction %></td></td>
    </tr>
  </head>
</table>
<%= link_to edit_user_path(@user) do %>
  <i class="fa-solid fa-user-gear"></i>
<% end %>